conf/config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xiongbeer.com"
           xmlns="http://xiongbeer.com"
           elementFormDefault="qualified">
    
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name"  type="xs:string"/>
                <xs:element name="value"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>